{% extends 'base.html' %}
{% load text_filters %}

{% block content %}

      <!-- profile details section -->
      <section id="recipe-details">
        <h1>Profile Details</h1>
        <div class="info-section">
          <div class="recipe-header">
            <!-- default profile image -->
            <!-- if the user is not a chef - a default image - no_chef_img.png -->
            {% if not profile.chef%}
            <img
            class="recipe-img"
            src="/static/images/no_chef_img.png"
            alt="profile-image"
          /> 
          {% else %}

            <!-- if the user is a chef - a default image - chef_img.png -->

            <img
              class="recipe-img"
              src="/static/images/chef_img.png"
              alt="profile-image"
            />
            {% endif %}

            <!-- profile full name -->
            <h1>{{profile.name}}</h1>

            <!-- profile nickname -->
            <p class="description">Nickname: {{profile.nickname}}</p>

            <!-- profile bio -->
            {% if profile.bio %}
            <p class="description">Bio: {{profile.bio|wrap_at_35|safe}}</p>
            <!-- if no profile bio - display 'N/A' -->
            {% else %}
            <p class="description">Bio: N/A</p>
            {% endif %}

            <!-- total number of published recipes -->
            <p class="description">Published recipes: {{recipe_count}}</p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
              <a href="{% url 'profile_edit' %}" class="edit-button">Edit</a>
              <a href="{% url 'profile_delete' %}" class="delete-button">Delete</a>
            </div>
          </div>
        </div>
      </section>

      {% endblock content %}